Package: lego
Version: 3.3.0-0
Section: base
Priority: optional
Architecture: amd64
Maintainer: Arnar Ingason <codedbearder@arnarg.fastmail.com>
Description: lego
 Let's Encrypt client and ACME library written in Go
