[Unit]
Description=CoreDNS server
After=network.target etcd.service

[Service]
ExecStart=/usr/local/bin/coredns -conf /config/coredns/Corefile

[Install]
WantedBy=multi-user.target
